In [4]:
value1=float(input("Enter a floating point number: "))

Enter a floating point number: 55.5

In [6]:
value2=int(input("Enter an integer: "))

Enter an integer: 20

In [3]:
total=x+y
print(total)

75.5

The sum is: 75.5

In [4]:
total=x-y
print(total)

35.5

The difference is: 35.5

In [5]:
total=x*y
print(total)

1110.0

The product is: 1110

In [6]:
total=x/y
print(total)

2.775

The difference is 2.775

In [7]:
print('The type for the result is', type(value1))

The type for the result is <class 'float'>

# Programming Assignment 1
**Trevor McCormick** 

Version 1

**CS-150-01 Bellarmine University**